.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 520px;
}

.array-bar {
    width: 8px;
    background-color: turquoise;
    margin: 0 1px;
    display: inline-block;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #61dafb;
    border: none;
    color: #0d0d0d;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
